@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap");

:root {
  --cor1: #247227;
  --cor2: #001d3c;
  --cor3: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 100%;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/fundo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  height: auto;
}

main {
  flex-grow: 1;
}

button {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 1rem;
  background: var(--cor3);
  border-radius: 0.5rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 3rem;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav img {
  width: clamp(30px, 3.5%, 3.5%);
  height: clamp(30px, 3.5%, 3.5%);
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 1);
  padding: 2rem;
  width: 50%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 2vh;
}

.modalHeader h1 {
  color: var(--cor2);
  flex-grow: 1;
  text-align: center;
}

.modalHeader button {
  color: var(--cor2);
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.modalHeader button:hover {
  scale: 1.2;
}

.form-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.registarFoto input {
  display: none;
}

.form-container input {
  padding: 1.2rem;
}

div.controls {
  display: flex;
  justify-content: space-evenly;
  color: black;
  width: 100%;
}

.controls div {
  display: flex;
  flex-direction: column;
}

.form-container button {
  margin-top: 10px;
  background-color: var(--cor2);
  padding: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

main {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  position: relative;
  width: clamp(250px, 40vw, 50vw);
  height: clamp(250px, 50vh, 50vh);
  padding-top: 2vw;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card form {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card input {
  width: 60%;
}

.card button {
  width: 100%;
  height: clamp(40px, 8vh, 10vh);
  font-size: clamp(15px, 4vw, 4vh);
  background-color: var(--cor1);
  border-radius: 0rem 0 0.5rem 0.5rem;
  transition: opacity 0.2s ease;
}

.card button:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {

  .modal-content {    
    width: 90%;
  }

  .form-container div {
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .form-container input {
    padding: 1rem;
}

  div.controls { 
    flex-direction: row;
    align-items: center;
  }

  input[type="radio"] {
    transform: scale(0.5);
  }

  .form-container button { 
    padding: 1rem;
    font-size: 1rem; 
  }

  .card {
    width: 90%;
    height: clamp(250px, 40vh, 50vh);
    padding-top: 10vw;
  }

  .card input {
    width: 80%;
  }

  .card button {
    font-size: clamp(15px, 6vw, 4vh);
  }
}
