@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap");

:root {
  --cor1: #247227;
  --cor2: #001d3c;
  --cor3: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/fundo2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  height: auto; 
  padding: 1rem 3rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  font-size: 3rem;
  font-weight: 900;
}

button {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 1rem;
  background: var(--cor3);
  border-radius: 0.5rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav img {
  width: clamp(30px, 3.5%, 3.5%);
  height: clamp(30px, 3.5%, 3.5%);
}

.dados {
  margin-top: 2vh;
  width: 50%;
  display: flex;
  justify-content: space-evenly
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.overlay-content {
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4vh 2vw;
  gap: 2vh;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden; 
  transition: height 2s ease; 
}

.buttonJogar {
  padding: 2vh;
  background-color: #001d3c;
  border-radius: 0.5rem;
}

.buttonEstatisticas {
  color: var(--cor2);
  background-color: white;
  font-weight: 600;
}

.estatisticas {
  color: var(--cor2);
}

.matchCovid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2vh;
  justify-content: center;
  margin-top: 5vh;
  padding: 1rem;
}

.card {
  width: clamp(80px, 8vw, 200px); 
  height: clamp(80px, 8vw, 200px); 
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-radius: 0.5rem;
}

.card-front {
  transform: rotateY(180deg);
}

.card-back {
  background-image: url(../images/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s
}

.card-back:hover {
  opacity: 0.8;
}

.card.matched .card-front {
  transition: 0.3s;
  background-color: var(--cor1);
  cursor: default;
}